<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    
    <title>Spot Blog ::
      <th:block th:text="${blogInfoDto.name}" />
    </title>
    <th:block th:replace="fragment/css :: cssFragment"></th:block>
    <link rel="stylesheet" href="/header/blogHeader.css">
    <link rel="stylesheet" href="/blogs/blogView.css">
  </head>
  <body>
    <!-- [header] -->
    <header th:replace="fragment/blogHeader :: blogHeaderFragment"></header>
    <input id="userId" type="hidden" value="${userId}">
    <!-- [게시글 컨텐츠] 시작 -->
    <section class="section_blog-content">
      <div class="contact-us">
        <div class="container">
          <div class="row">
            <div class="col-lg-9">
              <div class="section-heading">
                <h1 th:text="${blogPostDto.title}" style="margin-bottom: 40px;">블로그 제목</h1>
                <img th:src="|${blogInfoDto.writerPicture }|" id="img_profile" class="mr-2" />[[${blogInfoDto.writerName}]] <span th:text="${blogPostDto.createdDate }" style="margin-left: 10px;">2022. 1. 25. 20:00</span>
              </div>
              <div th:utext="${blogPostDto.content}" class="div_article-text mb-4"> 블로그 게시글 </div>
              <!-- [댓글 & 버튼] start -->
              <div style="margin-bottom: 100px;">
                <div class="row">
                  <div class="col-12">
                  	<button th:if="${blogReplyDtoList == null}" type="button" class="btn btn-outline-secondary active" style="margin-right: 10px;" data-toggle="collapse" data-target="#div_reply-list">댓글 0개</button>
                    <button th:unless="${blogReplyDtoList == null}" type="button" class="btn btn-outline-secondary active" style="margin-right: 10px;" data-toggle="collapse" data-target="#div_reply-list">댓글 [[${#lists.size(blogReplyDtoList)}]]개</button>
                    <button th:if="${user == null}" type="button" class="btn btn-outline-secondary" onClick="alert('로그인 후 좋아요를 눌러주세요!!');">
                      <img src="/blogs/good.png" width="25" />&nbsp;[[${blogGoodMax }]] </button>
                    <button th:unless="${user == null}" id="btn_good" type="button" class="btn btn-outline-secondary active">
                      <img src="/blogs/good.png" width="25" />&nbsp;[[${blogGoodMax }]] </button>
                      
                    <!-- [좋아요 active] -->
<!--                     <button style="display: none" type="button" class="btn btn-outline-secondary active">
                      <img src="/blogs/good_active.png" width="25" />&nbsp;12 </button> -->
                    <!-- [좋아요 active] -->
                  </div>
                  <!-- [댓글 리스트] start -->
                  <div id="div_reply-list" class="col-12 mt-4 collapse">
                    <table class="table">
                      <tbody>
                        <tr th:unless="${blogReplyDtoList == null}" th:each="blogReply : ${blogReplyDtoList }" class="table-secondary">
                          <td colspan="3">
                            <div style="margin-left: 15px;">
                              <p class="p_reply-user">
                                <img class="img_profile-reply" style="margin-right: 10px;" th:src="|${blogReply.writerPicture }|" />[[${blogReply.writerName}]] <span th:text="${blogReply.createdDate }" style="margin-left: 10px;">2022. 1. 25. 20:00</span>
                                <a class="a_report-link">신고</a>
                              </p>
                              <p th:text="${blogReply.content }">댓글 내용</p>
                              <button type="button" class="btn btn-outline-secondary" style="margin-right: 10px;">답글</button>
<!--                          <button type="button" class="btn btn-outline-secondary active">
                                <img src="/blogs/good_active.png" width="20" />&nbsp;12 </button> -->
                            </div>
                          </td>
                        </tr>
                        <tr th:if="${user == null}" class="table-secondary">
                          <td colspan="3">
                            <div style="margin-left: 15px; margin-right: 15px;">
                              <p class="p_reply-user">
                                소셜계정으로 간편하게 로그인하여 의견을 남겨보세요!
                              </p>
                            </div>
                          </td>
                        </tr>                        
                        <tr th:unless="${user == null}" class="table-secondary">
                          <td colspan="3">
                            <div style="margin-left: 15px; margin-right: 15px;">
                              <p class="p_reply-user">
                                <img class="img_profile-reply" style="margin-right: 10px;" th:src="|${user.picture }|" />[[${user.name}]]
                              </p>
							  <textarea id="reply_content" class="form-control mb-2" rows="5"></textarea>
                              	<p id="btn_reply">작성</p>
                            </div>
                          </td>
                        </tr>                        
                      </tbody>
                    </table>
                  </div>
                  <!-- [댓글 리스트] end -->
                  <!-- [게시글 리스트 하단] start -->
                  <div class="col-12 mt-2">
                    <table class="table">
                      <thead class="table table-borderless">
                        <tr>
                          <th>[[${blogPostDto.categoryTitle }]]</th>
                          <th></th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:each="postCategory : ${postCategoryList }" >
                          <td>
                            <a th:if="${#strings.equals(postCategory.id, blogPostDto.id)}" th:href="|/blog/${userId}/view?id=${postCategory.id}|" class="font-weight-bold">[[${postCategory.title}]] ([[${postCategory.replyMax }]])</a>
                          	<a th:unless="${#strings.equals(postCategory.id, blogPostDto.id)}" th:href="|/blog/${userId}/view?id=${postCategory.id}|" >[[${postCategory.title}]] ([[${postCategory.replyMax }]])</a>
                          </td>
                          <td></td>
                          <td th:text="${postCategory.createdDate }">2021-01-01</td>
                        </tr>
                        <tr>
                          <td>
                            <ul class="pagination">
                              <li class="page-item">
                                <a class="page-link" href="#">Previous</a>
                              </li>
                              <li class="page-item">
                                <a class="page-link" href="#">1</a>
                              </li>
                              <li class="page-item">
                                <a class="page-link" href="#">2</a>
                              </li>
                              <li class="page-item">
                                <a class="page-link" href="#">3</a>
                              </li>
                              <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                              </li>
                            </ul>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <!-- [게시글 리스트 하단] end -->
                </div>
              </div>
              <!-- [댓글 & 버튼] end -->
            </div>
            <div class="col-lg-3">
              <!-- [pop] start -->
             <h2 style="margin-bottom: 15px; font-size: 20px;">추천 게시글</h2>
             <th:block th:if="${recommendList != null}" th:each="recommend, i : ${recommendList }">
              <div th:onclick="|location.href='/blog/${userId}/view?id=${recommend.id}'|" class="div_right-pop">
                <img th:if="${recommend.thumbnail == null || #strings.equals(recommend.thumbnail, '')}" src="/blogs/nullThumbnail.jpg" class="card-img-right flex-auto d-none d-md-block img_right-pop" data-src="holder.js/200x250?theme=thumb" alt="사진" data-holder-rendered="true">
                <img th:unless="${recommend.thumbnail == null || #strings.equals(recommend.thumbnail, '')}" th:src="|${recommend.thumbnail }|" class="card-img-right flex-auto d-none d-md-block img_right-pop" data-src="holder.js/200x250?theme=thumb" alt="사진" data-holder-rendered="true"> 
                <p th:text="${recommend.title }" class="p_right-pop-title">제목</p>
                <p class="p_right-pop-text">조회수 [[${recommend.viewCount }]]</p>
              </div>
             </th:block>
              <!-- [pop] end -->
              <!-- [spot] start -->
              <div class="div_right-spot">
                <h2 style="margin-bottom: 15px; font-size: 20px;">스폿</h2>
                <img id="img_profile" class="img_right-spot" src="/example/profileEX.jpg" />수야
              </div>
              <div class="div_right-spot">
                <img id="img_profile" class="img_right-spot" src="/example/profileEX.jpg" />수야
              </div>
              <div class="div_right-spot" style="border-bottom: unset;">
                <img id="img_profile" class="img_right-spot" src="/example/profileEX.jpg" />수야
              </div>
              <div class="div_right-spot" style="border-bottom: unset;">
                <button type="button" class="btn btn-outline-dark">스폿 하기</button>
              </div>
              <!-- [pop] end -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- [게시글 컨텐츠] 종료 -->
    <!-- [공유 버튼] 시작 -->
    <div class="a_share-hover">
      <img src="/blogs/share_kakao.png" title="카카오톡 공유하기" style="width: 35px;" alt="카카오톡 공유 버튼">
      <img src="/blogs/share_instargram.png" title="인스타 공유하기" style="width: 35px;" alt="인스타 공유 버튼">
      <img src="/blogs/share_facebook.png" title="페이스북 공유하기" style="width: 35px;" alt="페이스북 공유 버튼">
      <img src="/blogs/share_naver-blog.png" title="네이버 공유하기" style="width: 35px;" alt="네이버 공유 버튼">
    </div>
    <!-- [공유 버튼] 종료 -->
    <!-- footer -->
    <footer th:replace="fragment/allFooter :: allFooterFragment"></footer>
    <th:block th:replace="fragment/script :: scriptFragment"></th:block>
    <script src="/blogs/blogView.js"></script>
  </body>
</html>