<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title> Spot Blog ::
      <th:block th:text="${blogName}" />
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <th:block th:replace="fragment/css :: cssFragment"></th:block>
    <!-- 에디터 -->
    <link rel="stylesheet" href="/wysiwygEditor/css/jquery.wysiwygEditor.css">
    <link rel="stylesheet" href="/header/blogHeader.css">
    <link rel="stylesheet" href="/blogs/blogWrite.css">
  </head>
  <body>
    <!-- [작성 nav] 시작-->
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a class="navbar-brand">블로그 글쓰기</a>
      <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <select class="custom-select" id="inputGroupSelect03">
              <option selected>공개</option>
              <option value="1">비공개</option>
            </select>
          </li>
        </ul>
        <button type="button" class="btn btn-secondary">작성</button>
      </div>
    </nav>
    <!-- [작성 nav] 종료 -->
    <!-- [글쓰기 부분] 시작  -->
    <section>
      <div class="contact-us">
        <div class="container">
          <div class="row">
            <div class="col-lg-10 div_write-col">
              <div class="div_category mb-4 mt-4">
                <select class="custom-select col-3" id="inputGroupSelect03">
                  <option selected>카테고리 선택</option>
                  <option value="1">카테고리 1</option>
                  <option value="1">카테고리 2</option>
                  <option value="1">카테고리 3</option>
                </select>
              </div>
              <div class="section-heading">
                <input type="text" class="form-control form-control-lg" placeholder="제목">
              </div>
              <div class="div_article-write">
                <!--  -->
                <div style="width: 920px; margin: 0 auto;">
					<p style="font-size: 10px;">*이미지를 주소로 변경하고 싶다면 <a href="#" onClick="window.open('https://ifh.cc/', 'url 변경', 'width=800, height=700, toolbar=no, menubar=no, scrollbars=no, resizable=yes' );">이곳</a>을 클릭하여 주세요.</p>
					<textarea class="wysiwyg-editor wysiwygEditor-733509" style="display: none;"></textarea>
                </div>
                <!--  -->
              </div>
              <!-- [댓글 & 버튼] start -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- [글쓰기 부분] 종료 -->
    <!-- footer -->
    <footer th:replace="fragment/allFooter :: allFooterFragment"></footer>
    <th:block th:replace="fragment/script :: scriptFragment"></th:block>
    <!-- 에디터 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.1/less.js"></script>
    <script src="/wysiwygEditor/js/jquery.wysiwygEditor.js"></script>
    <script src="/blogs/blogWrite.js"></script>
    <script type="text/javascript">
      $('.wysiwyg-editor').wysiwygEditor();
    </script>
  </body>
</html>