<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Spot Blog ::
      <th:block th:text="${blogInfoDto.name}" />
    </title>
    <th:block th:replace="fragment/css :: cssFragment"></th:block>
    <link rel="stylesheet" href="/header/blogHeader.css">
    <link rel="stylesheet" href="/blogs/blogHome.css">
  </head>
  <body>
    <!-- [header] -->
    <header th:replace="fragment/blogHeader :: blogHeaderFragment"></header>
    <!-- [Intro 게시글] 시작 -->
    <section class="section" id="social">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="section-heading">       
              <h2>[[${blogInfoDto.name}]]<input th:if="${user != null && userId == user.id}" class="btn btn-dark" type="button" value="글쓰기"  th:onclick="|location.href='/blog/${user.id}/add'|" />
              </h2>
              <span th:text="${blogInfoDto.intro}">블로그 소개</span>
            </div>
          </div>
        </div>
      </div>
      <!-- [recommendList] if null -->
      <div th:if="${recommendList == null}" class="container">
        <div class="row images">
          <div class="col-4">          
            <div class="thumb text-center">
              <img src="/assets/images/instagram-03.jpg" alt="">
              <div class="div_intro-font">
                <h3>[[${blogInfoDto.name}]]의 이야기</h3>
              </div>
            </div>
          </div>
          <div class="col-4">          
            <div class="thumb text-center" th:onclick="|location.href='/blog/${user.id}/add'|">
              <img src="/assets/images/instagram-04.jpg" alt="">
              <div class="div_intro-font">
                <h3>추천 게시글</h3>
                <p>추천 게시글을 선택해보세요! </p>
              </div>
            </div>
          </div>
          <div class="col-4">          
            <div class="thumb text-center">
              <img src="/assets/images/instagram-02.jpg" alt="">
              <div class="div_intro-font">
				<h3>[[${blogInfoDto.name}]]의 이야기</h3>
              </div>
            </div>
          </div>                    
        </div>
      </div>
      <!-- [recommendList] if null end -->
      <!-- [recommendList] not null -->
      <div th:unless="${recommendList == null}" class="container">
        <div class="row images">
          <div th:if="${#lists.size(recommendList) == 1}" th:each="recommend : ${recommendList}" th:onclick="|location.href='/blog/${userId}/view?id=${recommend.id}'|" class="col-12">          
            <div class="thumb text-center">
            	<img th:if="${recommend.thumbnail == null OR #strings.equals(recommend.thumbnail, '')}" src="/blogs/nullThumbnail.jpg" th:alt="${recommend.title }">
                <img th:unless="${recommend.thumbnail == null OR #strings.equals(recommend.thumbnail, '')}" th:src="|${recommend.thumbnail }|" th:alt="${recommend.title }">
              <div class="div_intro-font">
                <h3 th:text="${recommend.title }">제목</h3>
                <p th:text="${recommend.createdDate }">작성일</p>
              </div>
            </div>
          </div>
          <div th:unless="${#lists.size(recommendList) == 1}" th:each="recommend : ${recommendList}" th:onclick="|location.href='/blog/${userId}/view?id=${recommend.id}'|" class="col-2">          
            <div class="thumb text-center">
              <img th:if="${recommend.thumbnail == null || #strings.equals(recommend.thumbnail, '')}" src="/blogs/nullThumbnail.jpg" th:alt="${recommend.title}">
              <img th:unless="${recommend.thumbnail == null || #strings.equals(recommend.thumbnail, '')}" th:src="|${recommend.thumbnail}|" th:alt="${recommend.title}">
              <div class="div_intro-font">
                <h3 th:text="${recommend.title }">제목</h3>
                <p th:text="${recommend.createdDate }">작성일</p>
              </div>
            </div>
          </div>                              
        </div>
      </div>      
    </section>
    <!-- [Intro 게시글] 끝 -->
    <!-- [게시글 목록] 시작 -->
    <section class="section_article-list">
      <div class="container">
        <div class="row mb-2">
          <div th:if="${postDtoList == null}" class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
              <div class="card-body d-flex flex-column align-items-start">
                <strong class="d-inline-block mb-2 text-primary">카테고리1</strong>
                <h3 class="mb-0">
                  <a class="text-dark" href="#">게시글을 작성해보세요!</a>
                </h3>
                <p class="card-text mb-auto">자신의 이야기를 소개하세요!</p>
                <a href="#">더보기</a>
              </div>
              <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="사진" style="width: 200px; height: 250px;" src="/example/articleEx.png" data-holder-rendered="true">
            </div>
          </div>
          <div th:unless="${postDtoList == null}" th:each="postDto : ${postDtoList}" class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
              <div class="card-body d-flex flex-column align-items-start">
                <strong th:text="${postDto.categoryTitle}" class="d-inline-block mb-2 text-primary">카테고리1</strong>
                <h3 class="mb-0">
                  <a th:text="${postDto.title}" class="text-dark" th:href="@{|/blog/${userId}/view?id=${postDto.id}|}">제목 입니다.</a>
                </h3>
                <p th:text="${postDto.createdDate}" class="card-text mb-auto">2021-01-01</p>
                <a th:href="@{|/blog/${userId}/view?id=${postDto.id}|}">더보기</a>
              </div>
              <img th:onclick="|location.href='/blog/${userId}/view?id=${postDto.id}'|" class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="사진" style="width: 200px; height: 250px;" src="/example/articleEx.png" data-holder-rendered="true">
            </div>
          </div>          
        </div>
      </div>
    </section>
    <!-- [게시글 목록] 끝 -->
    
    <!-- [footer] -->
    <footer th:replace="fragment/allFooter :: allFooterFragment"></footer>
    <th:block th:replace="fragment/script :: scriptFragment"></th:block>
  </body>
</html>