<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Spot Blog ::</title>
    <th:block th:replace="fragment/css :: cssFragment"></th:block>
</head>
<body>
  <th:block th:if="${user == null or user.id != userId}">
    <script>
    	alert('블로그가 없습니다.');
    	window.history.back();
    </script>
  </th:block>
  <th:block th:unless="${user == null or user.id != userId}">
    <script>
    	var ask = confirm('블로그가 없습니다. 블로그를 생성 하시겠습니까?');
    	if(ask){
    		location.href="/blog/add";
    	}else{
    		window.history.back();
    	}
    </script>
  </th:block>    
</body>
</html>