@charset "UTF-8";

#a_blog-name{
	color: #005A8D;
	font-family: cursive;
	padding-left: 1.5rem;
}


#li_blog-home{
	margin-left: -30px;
	margin-right: 10px;
}

.a_blog-home-link{
	color: #022E57;
	font-size: 15px;
	margin-top: 28px;
	font-family: cursive;
}

.div_intro-font h3{
	margin-top: 10px;
	text-align: center;
	font-size: 20px;
    font-weight: 700;
    color: #2a2a2a;
}

.div_intro-font p{
    text-align: center;
    font-size: 14px;
    color: #a1a1a1;
    font-style: italic;
    font-weight: 400;
}

.section_article-list{
	margin-top: 50px;
}