<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Spotlight</title>
    <th:block th:replace="fragment/css :: cssFragment"></th:block>
    <link rel="stylesheet" href="/users/userInfo.css">
  </head>
  <body>
    <!-- [header] -->
    <header th:replace="fragment/publicHeader :: publicHeaderFragment" class="background-header"></header>
    <section class="section">
      <div class="container">
      	<!-- [유저 정보] start -->
        <div class="row div_layout-border">
          <div class="col-10 ml-4 mb-4 text-left">
            <div class="ml-4">
              <img class="img_profile-info mr-3" src="/example/profileEX.jpg" />
            </div>
            <div class="mt-4">
              <h2>블링크</h2>
              	<p class="p_info-spec mt-1">&nbsp;조회수 10만</p>              
            </div>
          </div>
          
        </div>
       	<!-- [유저 정보] end -->
       	
        <!-- [정보 및 선택 아이콘] start -->
        <div class="row mb-4">
        	<div class="col-12 mt-2 text-right">
        		<div class="">
        			<p class="p_info-active"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>정보 및 활동</p>
        		</div>        		
        	</div>        	
        </div>
        <!-- [정보 및 선택 아이콘] end -->
        
        <!-- [정보] start -->
        <div class="row mt-4 div_info-user">
        	<!-- [상세 정보] start -->
        	<div class="col-3 div_user-box">
        		<div class="mb-4">
					<h4>나이:</h4>
        			<input type="number" class="form-control" id="usr">
				</div>
				<div class="mb-4">
					<h4>지역:</h4>
        			<input type="text" class="form-control" id="usr">
				</div>
				<div class="mb-4">
					<h4>직업:</h4>
        			<input type="text" class="form-control" id="usr">
				</div>
				<div class="mb-4 text-center div_fix-btn">
					<button type="button" class="btn btn-secondary btn_info-fix">수정하기</button>
				</div>
        	</div>
        	<!-- [상세 정보] end -->
        	<div class="col-8 ml-4 div_history-box">
        		<div class="mb-4 div_info-history-box">
        			<p class="p_info-history-log">>답글을 남겼습니다.</p>
        			<h4 class="h4_info-history-title">
        				<img class="img_info-history mr-2" alt="사진" src="/example/articleEx.png">
        				풍경이 좋아 123[0개]
        			</h4>
        			<span>작성자:&nbsp;수야 123</span>
        		</div>
        		<div class="mb-4 div_info-history-box">
        			<p class="p_info-history-log">>답글을 남겼습니다.</p>
        			<h4 class="h4_info-history-title">
        				<img class="img_info-history mr-2" alt="사진" src="/example/articleEx.png">
        				풍경이 좋아 123[0개]
        			</h4>
        			<span>작성자:&nbsp;수야 123</span>
        		</div>        		
        	</div>        	
        </div>
        <!-- [정보] end -->
      </div>
    </section>
    <!-- [Footer] -->
    <footer th:replace="fragment/allFooter :: allFooterFragment"></footer>
    <th:block th:replace="fragment/script :: scriptFragment"></th:block>
    <script src="/users/userInfo.js"></script>
  </body>
</html>