<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Spotlight</title>
    <th:block th:replace="fragment/css :: cssFragment"></th:block>
    <link rel="stylesheet" href="/users/userInfo.css">
  </head>
  <body>
    <!-- [header] -->
    <header th:replace="fragment/publicHeader :: publicHeaderFragment" class="background-header"></header>
    <section class="section">
      <div class="container">
      	<!-- [유저 정보] start -->
        <div class="row div_layout-border">
          <div class="col-10 ml-4 mb-4 text-left">
            <div class="ml-4">
              <img th:src="|${userDto.picture }|" th:alt="|${userDto.name}의 프로필사진|" class="img_profile-info mr-3"/>
            </div>
            <div class="mt-4">
              <h2 th:text="${userDto.name }">블링크</h2>
              	<p th:text="| 팔로워 ${userDto.followeeSize }|" class="p_info-spec mt-1"> 팔로워 10</p>              
            </div>
          </div>
          
        </div>
       	<!-- [유저 정보] end -->
       	
        <!-- [정보 및 선택 아이콘] start -->
        <div class="row mb-4">
        	<div class="col-12 mt-2 text-right">
        		<div class="">
        			<p class="p_info-active"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>정보 및 활동</p>
        		</div>        		
        	</div>        	
        </div>
        <!-- [정보 및 선택 아이콘] end -->
        
        <!-- [정보] start -->
        <div class="row mt-4 div_info-user">
        	<!-- [상세 정보] start -->
        	<div class="col-3 div_user-box">
        		<div class="mb-4">
					<h4>나이:</h4>
					<input th:if="${userDto.age > 0}" th:value="${userDto.age }" type="number" class="form-control" id="usr">
        			<input th:unless="${userDto.age > 0}" type="number" class="form-control" id="usr">
				</div>
				<div class="mb-4">
					<h4>지역:</h4>
        			<input th:value="${userDto.location }" type="text" class="form-control" id="usr">
				</div>
				<div class="mb-4">
					<h4>직업:</h4>
        			<input th:value="${userDto.job }" type="text" class="form-control" id="usr">
				</div>
				<div class="mb-4 text-center div_fix-btn">
					<button type="button" class="btn btn-secondary btn_info-fix" onClick="alert('구현되지 않은 기능입니다.');">수정하기</button>
				</div>
        	</div>
        	<!-- [상세 정보] end -->
        	<div class="col-8 ml-4 div_history-box">
        		<!-- root start -->
        		<div th:if="${replyDtoList == null}" class="mb-2 div_info-history-box">
        			<h4 class="h4_info-history-title">작성한 댓글이 없습니다.</h4>
        		</div>        		
        		<div th:unless="${replyDtoList == null}" th:each="replyDto : ${replyDtoList }" th:onclick="|location.href='/blog/${replyDto.userId }/view?id=${replyDto.postId}'|" class="mb-4 div_info-history-box">
        			<h5 class="p_info-history-log mb-2">댓글을 남겼습니다.</h5>
        			<h4 class="h4_info-history-title">
        				<img th:if="${replyDto.thumbnail == null || #strings.equals(replyDto.thumbnail, '')}" src="/blogs/nullThumbnail.jpg" alt="썸네일 공백 사진" class="img_info-history mr-2">
        				<img th:unless="${replyDto.thumbnail == null || #strings.equals(replyDto.thumbnail, '')}" th:src="|${replyDto.thumbnail }|" th:alt="|${replyDto.title }의 썸네일|" class="img_info-history mr-2">
        				[[${replyDto.title }]]
        			</h4>
        			<span style="font-size: 10px;">작성자 :[[${replyDto.writerName }]]</span>
        		</div>
       			<!-- root end -->
        	</div>        	
        </div>
        <!-- [정보] end -->
      </div>
    </section>
    <!-- [Footer] -->
    <footer th:replace="fragment/allFooter :: allFooterFragment"></footer>
    <th:block th:replace="fragment/script :: scriptFragment"></th:block>
    <script src="/users/userInfo.js"></script>
  </body>
</html>