<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Spotlight</title>
<th:block th:replace="fragment/css :: cssFragment"></th:block>
<link rel="stylesheet" href="/supports/supportHome.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
	integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
	crossorigin="anonymous">
</head>
<body>
	<!-- [header] -->
	<header th:replace="fragment/publicHeader :: publicHeaderFragment"
		class="background-header"></header>
	<section class="section">
		<div class="container">
			<div class="row div_layout-border">
				<div class="col-9 ml-2 mb-4 text-left div_title">
					<div class="mt-4">
						<h2>고객 센터</h2>
					</div>
				</div>
				<div style="display: none;" class="col-2 ml-4 div_menu-btn">
					<button type="button" class="btn btn-secondary mt-4">목록</button>
				</div>
			</div>
			<!-- [정보] start -->
			<div class="row mt-4">
				<div class="col-10 ml-4">
					<div class="mb-4">
						<div>
							<input type="text" class="form-control form-control-lg"
								value="Q. 스포 라이트는 무엇을 위한 곳인가요?" disabled>
							<div class="form-group">
								<textarea class="form-control mt-4" rows="20" disabled>네 저희는 모두가 자유롭게 의견을 이야기하는 사이트입니다.
추가로 이 사이트는 포트폴리오 전용이기때문에 수익창출 및 저작권 관련 사항이 제한됩니다.
또한 이 사이트에서 벌어진 문제는 책임드리지 않습니다.대신 소셜 로그인을 통해 개인정보 유출은 없으니 안심하시길 바랍니다.
								</textarea>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- [정보] end -->
		</div>
	</section>
    <!-- [modal] -->
	<th:div th:if="${user == null}" th:replace="fragment/loginModal :: loginModalFragment"></th:div>
    	
	<!-- [Footer] -->
	<footer th:replace="fragment/allFooter :: allFooterFragment"></footer>
	<th:block th:replace="fragment/script :: scriptFragment"></th:block>
    <script src="/supports/supportHome.js"></script> 
</body>
</html>