<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="allFooterFragment">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="first-item">
                        <div class="logo">
                            <img src="/header/publicLogo.png" width="195" height="115" alt="스포 라이트 로고">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h4>Spot Light</h4>
                    <ul>
                    	<li><a href="#">제작자:유준상</a></li>
                        <li><a href="#">bavsa487@naver.com</a></li>
                        <li><a href="#">010-7657-2691</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>가이드 라인</h4>
                    <ul>
                        <li><a href="#">포트폴리오</a></li>
                        <li><a href="#">이력서</a></li>
                        <li><a href="#">제휴 협업</a></li>
                        <li><a href="#">개인정보 관련 사항</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>고객 센터</h4>
                    <ul>
                        <li><a href="#">자주 묻는 질문</a></li>
                        <li><a href="#">운영자 블로그</a></li>
                    </ul>
                </div>
                <div class="col-lg-12">
                    <div class="under-footer">
                        <p>Copyright © 2022 HexaShop Co., Ltd. All Rights Reserved. 
                        
                        <br>Design: <a href="https://templatemo.com" target="_parent" title="free css templates">TemplateMo</a></p>
                        <ul>
                            <li><a href="#" onClick="alert('소셜 계정은 준비중 입니다.');"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" onClick="alert('소셜 계정은 준비중 입니다.');"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" onClick="alert('소셜 계정은 준비중 입니다.');"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#" onClick="alert('소셜 계정은 준비중 입니다.');"><i class="fa fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</html>