<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <header th:fragment="blogHeaderFragment" th:style="|background-color: ${blogInfoDto.headerColor}|" id="header_blogHeader" class="header-area header-sticky">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a th:href="@{|/blog/${userId}|}" class="logo a_blog-home-link">
              <img src="/header/blog-home-link.png" width="20" height="20" alt="홈 이미지"/>
              <th:block th:if="${blogInfoDto == null}" th:text="|${user.name}님의 화면|"/>
              <th:block th:unless="${blogInfoDto == null}" th:text="${blogInfoDto.name}"/>
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul id="ul_blog-nav" class="nav">
              <li class="scroll-to-section">
                <a th:href="@{|/blog/${userId}|}">블로그 홈</a>
              </li>
              <li class="scroll-to-section">
                <a href="/blog/spot/list">내 스폿</a>
              </li>
              <li class="scroll-to-section">
                <a href="/">공식 페이지</a>
              </li>
              <th:block th:if="${user == null}">
              	<li class="scroll-to-section">
                	<button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#login_modal">회원가입/로그인</button>
              	</li>              
              </th:block>
              <!-- [로그인] start -->
              <th:block th:unless="${user == null}">
               <li class="scroll-to-section">
                <a data-toggle="dropdown" href="">
                  <img id="img_profile" th:src="|${user.picture}|" />                
                </a>
                <div class="dropdown-menu">
    				<a class="dropdown-item" th:href="|/user/info?id=${user.id }|">내 정보</a>
    				<a class="dropdown-item" href="/logout">로그아웃</a>
  				</div>                
               </li>
               <li class="scroll-to-section div_header-notify">
                <div class="dropdown">
                  <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown"> 알림 </button>
                  <div class="dropdown-menu">
                     <th:block th:if="${notifyList == null}">
                     	<a class="dropdown-item" href="#">정보가 없습니다!</a>
                     </th:block>
                     <th:block th:unless="${notifyList == null}" th:each="map : ${notifyList}">
                       <th:block th:each="notify : ${map}" >
                      	<a th:text="${notify.value}" class="dropdown-item" href="#"></a>
                       </th:block>
                     </th:block>                     
                        <a class="dropdown-item" href="#">더보기</a>
                  </div>
                </div>
               </li>
              </th:block>
              <!-- [로그인] end -->
            </ul>
            <a class="menu-trigger">
              <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
</html>