<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <header th:fragment="blogHeaderFragment"  id="header_blogHeader" class="header-area header-sticky">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav" style="background-color: EA99D5;">
            <!-- ***** Logo Start ***** -->
            <a href="index.html" class="logo a_blog-home-link">
              <img src="/header/blog-home-link.png" width="20" height="20" alt="홈 이미지"/>
              <th:block th:if="${blogName == null}" th:text="|${name}님의 화면|"/>
              <th:block th:unless="${blogName == null}" th:text="${blogName}"/>
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul id="ul_blog-nav" class="nav">
              <li class="scroll-to-section">
                <a href="">블로그 홈</a>
              </li>
              <li class="scroll-to-section">
                <a href="">내 수익</a>
              </li>
              <li class="scroll-to-section">
                <a href="">내 스폿</a>
              </li>
              <li class="scroll-to-section">
                <a href="">고객 지원</a>
              </li>
              <li class="scroll-to-section">
                <a href="">
                  <img id="img_profile" src="/example/profileEX.jpg" />
                </a>
              </li>
              <li class="scroll-to-section div_header-notify">
                <div class="dropdown">
                  <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown"> 알림 </button>
                  <div class="dropdown-menu">
                     <th:block th:if="${notifyList == null}">
                     	<a class="dropdown-item" href="#">정보가 없습니다!</a>
                     </th:block>
                     <th:block th:unless="${notifyList == null}" th:each="map : ${notifyList}">
                       <th:block th:each="notify : ${map}" >
                      	<a th:text="${notify.value}" class="dropdown-item" href="#"></a>
                       </th:block>
                     </th:block>                     
                        <a class="dropdown-item" href="#">더보기</a>
                  </div>
                </div>
              </li>
            </ul>
            <a class="menu-trigger">
              <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
</html>