<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<div th:fragment="loginModalFragment" class="modal" id="login_modal">
		<div class="modal-dialog">
			<div class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">로그인 및 가입</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<!-- Modal body -->
				<div class="modal-body text-center">
					<a href="/oauth2/authorization/google">
						<img src="modal/google_login.png" width="191" height="46" alt="구글 로그인"/>
					</a>
					<a href="/oauth2/authorization/naver">
						<img src="modal/naver_login.png" width="191" height="46" alt="네이버 로그인"/>
					</a>					
				</div>

				<!-- Modal footer -->
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">닫기</button>
				</div>

			</div>
		</div>
	</div>
</html>