<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <header th:fragment="managerHeaderFragment">
  	<nav class="navbar navbar-expand navbar-dark bg-dark">
      <a class="navbar-brand" href="#">관리자 페이지</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="navbar-nav mr-auto">
        </ul>
          <button type="button" class="btn btn-outline-light text-light">메인으로</button>
      </div>
    </nav>
  </header>
</html>