<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <header th:fragment="publicHeaderFragment" class="header-area header-sticky">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav" style="background-color: EA99D5;">
            <!-- ***** Logo Start ***** -->
            <a href="/" class="logo">
              <img src="/header/publicLogo.png" height="70" alt="스포 라이트 로고">
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section">
                <a th:if="${user == null}" data-toggle="modal" data-target="#login_modal">블로그 홈</a>
                <a th:unless="${user == null}" th:href="@{/blog/{id}(id=${user.id})}">블로그 홈</a>
              </li>
              <li class="scroll-to-section">
                <a href="">내 수익</a>
              </li>
              <li class="scroll-to-section">
                <a href="/blog/spot/list">내 스폿</a>
              </li>
              <li class="scroll-to-section">
                <a href="/support/home">고객 지원</a>
              </li>
              <!-- [비 로그인] start -->
              <th:block th:if="${session.user == null}">
              	<li class="scroll-to-section">
                	<button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#login_modal">회원가입/로그인</button>
              	</li>
              </th:block>
              <!-- [비 로그인] end -->
              <!-- [로그인] start -->
              <th:block th:unless="${session.user == null}">
                <li class="scroll-to-section">
                  <a data-toggle="dropdown">
                    <img id="img_profile" th:src="${session.user.picture}" />
                  </a>
                    <div class="dropdown-menu">
    					<a class="dropdown-item" href="/user/info">내 정보</a>
    					<a class="dropdown-item" href="/logout">로그아웃</a>
  					</div>
                </li>
                <li class="scroll-to-section div_header-notify">
                  <div class="dropdown">
                    <button type="button" id="btn_notify" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown"> 알림 </button>
                    <div class="dropdown-menu">
                     <th:block th:if="${notifyList == null}">
                     	<a class="dropdown-item" href="#">정보가 없습니다!</a>
                     </th:block>
                     <th:block th:unless="${notifyList == null}" th:each="map : ${notifyList}">
                       <th:block th:each="notify : ${map}" >
                      	<a th:text="${notify.value}" class="dropdown-item" href="#"></a>
                       </th:block>
                     </th:block>                     
                        <a class="dropdown-item" href="#">더보기</a>
                    </div>
                  </div>
                </li>                
              </th:block>
              <!-- [로그인] end -->              
            </ul>
            <a class="menu-trigger">
              <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
</html>