<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>관리자 페이지</title>
    <th:block th:replace="fragment/css :: cssFragment"></th:block>
    <!-- [header 관련 css] 시작 -->
    <link rel="stylesheet" href="/header/managerHeader_Nav.css">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/dashboard/">
    <link rel="stylesheet" href="/managers/managerHome.css">
    <!-- [header 관련 css] 끝 -->
  </head>
  <body>
    <!-- header -->
    <header th:replace="fragment/managerHeader :: managerHeaderFragment"></header>
    <div class="container-fluid">
      <div class="row">
        <!-- [manager nav] start -->
        <div class="col-2">
          <nav th:replace="fragment/managerNav :: managerNavFragment"></nav>
        </div>
        <!-- [manager nav] end -->
        <!-- [요청] start-->
        <div class="col-4 ml-2 div_col-box">
          <div class="div_layout-content">
            <h2 class="h2_title-content mb-2">요청</h2>
          </div>
          <div class="mt-2">
            <div class="container">
              <div class="row">
                <div class="col-6">
                  <h4>게시글 신고</h4>
                  <p>500건</p>
                </div>
                <div class="col-6">
                  <h4>문의 하기</h4>
                  <p>500건</p>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-6">
                  <h4>유저 신고</h4>
                  <p>500건</p>
                </div>
                <div class="col-6">
                  <h4>버그 신고</h4>
                  <p>500건</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- [요청] end -->
        <!-- [관리자 접속] start -->
        <div class="col-4 ml-2 div_col-box">
          <div class="div_layout-content">
            <h2 class="h2_title-content mb-2">관리자 접속(최근 30개)</h2>
          </div>
          <div class="mt-2">
            <div class="container">
              <div class="row">
                <div class="col-12 mb-4 div_online-log">
                  <p>2021-01-01 4시 30분 / OS 서울 / 관리자 1</p>
                  <p>2021-01-01 4시 30분 / OS 서울 / 관리자 1</p>
                  <p>2021-01-01 4시 30분 / OS 서울 / 관리자 1</p>
                  <p>2021-01-01 4시 30분 / OS 서울 / 관리자 1</p>
                  <p>2021-01-01 4시 30분 / OS 서울 / 관리자 1</p>
                  <p>2021-01-01 4시 30분 / OS 서울 / 관리자 1</p>
                  <p>2021-01-01 4시 30분 / OS 서울 / 관리자 1</p>
                  <p>2021-01-01 4시 30분 / OS 서울 / 관리자 1</p>
                  <p>2021-01-01 4시 30분 / OS 서울 / 관리자 1</p>
                  <p>2021-01-01 4시 30분 / OS 서울 / 관리자 1</p>
                  <p>2021-01-01 4시 30분 / OS 서울 / 관리자 1</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- [관리자 접속] end -->
        <!-- [관리자 정보] start -->
        <div class="col-1">
          <div class="row mb-2">
            <div class="col-12 mb-4 div_col-box">
              <div class="mt-2 mb-2" style="text-align: center;">
                <img id="img_profile" src="/example/profileEX.jpg" />
                <p style="font-weight: 700;" class="mt-2">수야 12345</p>
                <a >관리자 생성</a>
              </div>
            </div>
          </div>
        </div>
        <!-- [관리자 정보] end -->
        <div class="col-2"></div>
        <!-- [수익] start -->
        <div class="col-8 div_col-box">
          <div class="row mb-3">
            <div class="col-10 ">
              <div class="">
                <h2 style="text-align: unset;" class="h2_title-content mb-2">블로그 조회수<span style="font-size: 18px;">(오늘)</span></h2>
              </div>
            </div>
            <div class="col-2 text-center">
              <button type="button" class="btn btn-dark mt-2">필터</button>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-12 text-center">
              <canvas id="myChart" style="width:100%;max-width:950px"></canvas>
            </div>
          </div>
        </div>
        <!-- [수익] end -->
      </div>
    </div>
    <th:block th:replace="fragment/script :: scriptFragment"></th:block>
    <!-- chart js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script>
      var xValues = [50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150];
      var yValues = [7, 8, 8, 9, 9, 9, 10, 11, 14, 14, 15];
      new Chart("myChart", {
        type: "line",
        data: {
          labels: xValues,
          datasets: [{
            fill: false,
            lineTension: 0,
            backgroundColor: "rgba(0,0,255,1.0)",
            borderColor: "rgba(0,0,255,0.1)",
            data: yValues
          }]
        },
        options: {
          legend: {
            display: false
          },
          scales: {
            yAxes: [{
              ticks: {
                min: 6,
                max: 16
              }
            }],
          }
        }
      });
    </script>
  </body>
</html>