<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>관리자 페이지</title>
    <th:block th:replace="fragment/css :: cssFragment"></th:block>
    <!-- [header 관련 css] 시작 -->
    <link rel="stylesheet" href="/header/managerHeader_Nav.css">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/dashboard/">
    <link rel="stylesheet" href="/managers/managerHome.css">
    <!-- [header 관련 css] 끝 -->
  </head>
  <body>
    <!-- header -->
    <header th:replace="fragment/managerHeader :: managerHeaderFragment"></header>
    <div class="container-fluid">
      <div class="row">
        <!-- [manager nav] start -->
        <div class="col-2">
          <nav th:replace="fragment/managerNav :: managerNavFragment"></nav>
        </div>
        <!-- [manager nav] end -->
        <!-- [요청] start-->
        <div class="col-4 ml-2 div_col-box">
          <div class="div_layout-content">
            <h2 class="h2_title-content mb-2">요청</h2>
          </div>
          <div class="mt-2">
            <div class="container">
              <div class="row">
                <div class="col-6">
                  <h4>게시글 신고</h4>
                  <p>500건</p>
                </div>
                <div class="col-6">
                  <h4>문의 하기</h4>
                  <p>500건</p>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-6">
                  <h4>유저 신고</h4>
                  <p>500건</p>
                </div>
                <div class="col-6">
                  <h4>버그 신고</h4>
                  <p>500건</p>
                </div>
              </div>
            </div>
          </div>
          <div class="div_layout-content"></div>
        </div>
        <!-- [요청] end -->
        <!-- [관리자 접속] start -->
        <div class="col-4 ml-2 div_col-box">
          <div class="div_layout-content">
            <h2 class="h2_title-content mb-2">관리자 접속(최근 30개)</h2>
          </div>
          <div class="mt-2">
            <div class="container">
              <div class="row">
                <div class="col-12">
				  <p>2021-01-01 4시 30분 / OS 서울 / 관리자 1</p>
                </div>
                <div class="col-12">
				  <p>2021-01-01 4시 30분 / OS 서울 / 관리자 1</p>
                </div>                
              </div>
            </div>
          </div>
        </div>        
        <!-- [관리자 접속] end -->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="chartjs-size-monitor" style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
            <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
              <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
            </div>
            <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
              <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
            </div>
          </div>
          <h2>Section title</h2>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Header</th>
                  <th>Header</th>
                  <th>Header</th>
                  <th>Header</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1,001</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                  <td>dolor</td>
                  <td>sit</td>
                </tr>
                <tr>
                  <td>1,002</td>
                  <td>amet</td>
                  <td>consectetur</td>
                  <td>adipiscing</td>
                  <td>elit</td>
                </tr>
                <tr>
                  <td>1,003</td>
                  <td>Integer</td>
                  <td>nec</td>
                  <td>odio</td>
                  <td>Praesent</td>
                </tr>
                <tr>
                  <td>1,003</td>
                  <td>libero</td>
                  <td>Sed</td>
                  <td>cursus</td>
                  <td>ante</td>
                </tr>
                <tr>
                  <td>1,004</td>
                  <td>dapibus</td>
                  <td>diam</td>
                  <td>Sed</td>
                  <td>nisi</td>
                </tr>
                <tr>
                  <td>1,005</td>
                  <td>Nulla</td>
                  <td>quis</td>
                  <td>sem</td>
                  <td>at</td>
                </tr>
                <tr>
                  <td>1,006</td>
                  <td>nibh</td>
                  <td>elementum</td>
                  <td>imperdiet</td>
                  <td>Duis</td>
                </tr>
                <tr>
                  <td>1,007</td>
                  <td>sagittis</td>
                  <td>ipsum</td>
                  <td>Praesent</td>
                  <td>mauris</td>
                </tr>
                <tr>
                  <td>1,008</td>
                  <td>Fusce</td>
                  <td>nec</td>
                  <td>tellus</td>
                  <td>sed</td>
                </tr>
                <tr>
                  <td>1,009</td>
                  <td>augue</td>
                  <td>semper</td>
                  <td>porta</td>
                  <td>Mauris</td>
                </tr>
                <tr>
                  <td>1,010</td>
                  <td>massa</td>
                  <td>Vestibulum</td>
                  <td>lacinia</td>
                  <td>arcu</td>
                </tr>
                <tr>
                  <td>1,011</td>
                  <td>eget</td>
                  <td>nulla</td>
                  <td>Class</td>
                  <td>aptent</td>
                </tr>
                <tr>
                  <td>1,012</td>
                  <td>taciti</td>
                  <td>sociosqu</td>
                  <td>ad</td>
                  <td>litora</td>
                </tr>
                <tr>
                  <td>1,013</td>
                  <td>torquent</td>
                  <td>per</td>
                  <td>conubia</td>
                  <td>nostra</td>
                </tr>
                <tr>
                  <td>1,014</td>
                  <td>per</td>
                  <td>inceptos</td>
                  <td>himenaeos</td>
                  <td>Curabitur</td>
                </tr>
                <tr>
                  <td>1,015</td>
                  <td>sodales</td>
                  <td>ligula</td>
                  <td>in</td>
                  <td>libero</td>
                </tr>
              </tbody>
            </table>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>