<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <th:block th:replace="fragment/css :: cssFragment"></th:block>
    <link rel="stylesheet" href="main/main.css">
    <link rel="stylesheet" href="login/login.css">
  </head>
  <body>
    <header th:replace="fragment/publicHeader :: publicHeaderFragment"></header>
    <!-- [랜덤 View 블로그] = 시작 -->
    <section id="section_blog-random" class="section">
      <div class="main-banner" id="top">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6">
              <div class="left-content">
                <div class="thumb">
                  <div class="inner-content">
                    <h4>제목 입니다.</h4>
                    <span>내용은 이러쿵 저러쿵</span>
                    <div class="main-border-button">
                      <a href="#">바로가기!</a>
                    </div>
                  </div>
                  <img src="assets/images/left-banner-image.jpg" alt="배너 이미지">
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-content">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="right-first-image">
                      <div class="thumb">
                        <div class="inner-content">
                          <h4>제목입니다.</h4>
                          <span>내용은 이러쿵 저러쿵2</span>
                        </div>
                        <div class="hover-content">
                          <div class="inner">
                            <h4>제목..</h4>
                            <p>내용은 이러쿵 저러쿵</p>
                            <div class="main-border-button">
                              <a href="#">바로가기!</a>
                            </div>
                          </div>
                        </div>
                        <img src="assets/images/baner-right-image-01.jpg">
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="right-first-image">
                      <div class="thumb">
                        <div class="inner-content">
                          <h4>Men</h4>
                          <span>Best Clothes For Men</span>
                        </div>
                        <div class="hover-content">
                          <div class="inner">
                            <h4>Men</h4>
                            <p>Lorem ipsum dolor sit amet, conservisii ctetur adipiscing elit incid.</p>
                            <div class="main-border-button">
                              <a href="#">Discover More</a>
                            </div>
                          </div>
                        </div>
                        <img src="assets/images/baner-right-image-02.jpg">
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="right-first-image">
                      <div class="thumb">
                        <div class="inner-content">
                          <h4>Kids</h4>
                          <span>Best Clothes For Kids</span>
                        </div>
                        <div class="hover-content">
                          <div class="inner">
                            <h4>Kids</h4>
                            <p>Lorem ipsum dolor sit amet, conservisii ctetur adipiscing elit incid.</p>
                            <div class="main-border-button">
                              <a href="#">Discover More</a>
                            </div>
                          </div>
                        </div>
                        <img src="assets/images/baner-right-image-03.jpg">
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="right-first-image">
                      <div class="thumb">
                        <div class="inner-content">
                          <h4>Accessories</h4>
                          <span>Best Trend Accessories</span>
                        </div>
                        <div class="hover-content">
                          <div class="inner">
                            <h4>Accessories</h4>
                            <p>Lorem ipsum dolor sit amet, conservisii ctetur adipiscing elit incid.</p>
                            <div class="main-border-button">
                              <a href="#">Discover More</a>
                            </div>
                          </div>
                        </div>
                        <img src="assets/images/baner-right-image-04.jpg">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
	<!-- [랜덤 View 블로그] = 끝 -->
	
	<!-- [관리자 블로그] = 시작 -->
	<section id="section_blog-manager" class="section">
		<div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h2>관리자 블로그</h2>
                        <span>중요한 소식을 확인하세요!</span>
                    </div>
                </div>
            </div>
        </div>
		<div></div>
	</section>
	<!-- [관리자 블로그] = 끝-->
	
    <th:block th:replace="fragment/script :: scriptFragment"></th:block>
  </body>
</html>